.search {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  grid-gap: 10px;
  column-gap: 25px;

  input {
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 22px;
    padding: 23px 65px 24px 15px;
    color: $white;
    font-size: 18px;

    &::placeholder {
      color: $white;
      font-size: 18px;
      opacity: 1;
    }

    &:active,
    &:focus {
      border: none;
      outline: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 667px;
    }
    &:focus .search__sort-img{
      width: 300px;
    }
  }

  &__ingredient {
    background-color: $blue;
  }

  &__appliance {
    background-color: $green;
  }

  &__utensils {
    background-color: $red;
  }

  &__container {
    position: relative;
  }

  &__sort-img {
    position: relative;
    rotate: 180deg;
    color: white;
    left: 134px;
    top: 46px;
    font-size: x-large;
    font-weight: bolder;
  }

  &__data-list {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 199px 199px 199px;
    row-gap: 10px;
    column-gap: 10px;
    color: $white;
    line-height: 21.6px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;


    &__option {
      padding: 4px;
      cursor: pointer;

    }
  }
}

.card {
  width: 30%;
  overflow: hidden;
  margin-bottom: 50px;

  &__header {
    border-radius: 5px 5px 0px 0px;
    background: #C7BEBE;
    height: 178px;
    margin: 0;
  }

  &__content {
    padding: 20px;
    background: #E7E7E7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr;
    row-gap: 20px;
    height: 186px;

    &__time {
      font-size: 18px;
      font-weight: 700;
      grid-column-start: 4;
    }


    &__heading {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    h3,
    p {
      margin: 0;
    }
    &__ingredient{
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &__instruction {

      grid-column-start: 3;
      grid-column-end: 5;
      font-weight: 400;
      line-height: 12px;
      font-size: 12px;
    }
  }


}

.recipe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}