.search {
  display: flex;
  position: relative;
  z-index: 5;
  flex-wrap: wrap;

  position: relative;
  z-index: 5;

  input {
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 22px;
    padding: 23px 65px 24px 15px;
    color: $white;
    font-size: 18px;

    &::placeholder {
      color: $white;
      font-size: 18px;
      opacity: 1;
    }

    &:active,
    &:focus {
      border: none;
      outline: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 617px;
      transition: width 1s;
    }


  }

  &__ingredient {
    background-color: $blue;
  }

  &__appliance {
    background-color: $green;
  }

  &__utensils {
    background-color: $red;
  }

  &__container {
    position: relative;
    margin-right: 15px;
  }

  &__sort-img {
    position: relative;
    rotate: 180deg;
    color: white;
    left: 134px;
    top: 46px;
    font-size: x-large;
    font-weight: bolder;
    z-index: 6;

    &__active {
      left: 633px;
      transition: left 1s
    }
  }

  &__data-list {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 199px 199px 199px;
    animation: progress-bar 1s;
    row-gap: 10px;
    column-gap: 10px;
    color: $white;
    line-height: 21.6px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;

    &__option {

      padding: 4px;
      cursor: pointer;
      animation: progress-bar 1s;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
}

#tag-list {
  width: 100%;
  display: flex;
}

.tag-list {
  &__close {
    cursor: pointer;
    padding-left: 10px;
  }
}




@keyframes progress-bar {
  from {
    width: 146.7px;
  }

  to {
    width: 679.5px;
  }

}