.search {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  grid-gap: 10px;
  column-gap: 25px;

  input {
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 22px;
    padding: 23px 65px 24px 15px;
    color: $white;
    font-size: 18px;

    &::placeholder {
      color: $white;
      font-size: 18px;
      opacity: 1;
    }

    &:active,
    &:focus {
      border: none;
    }
  }

  &__ingredient {
    background-color: $blue;
  }

  &__device {
    background-color: $green;
  }

  &__utensils {
    background-color: $red;
  }

  &__container {
    position: relative;
  }

  &__sort-img {
    position: absolute;
    rotate: 180deg;
    color: white;
    right: 21px;
    bottom: 37px;
    font-size: x-large;
    font-weight: bolder;
  }
}

.card {
  width: 26.86%;
  overflow: hidden;

  &__header {
    border-radius: 5px 5px 0px 0px;
    background: #C7BEBE;
    height: 178px;
    margin: 0;
  }

  &__content {
    padding: 20px;
    background: #E7E7E7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr .1fr;
    row-gap: 20px;
    height: 186px;
    p{
      font-size: 12px;
      
    }
    h3,p{
      margin: 0;
    }

    
  }
  &__ingredient {
   
   
    font-weight: 700;
    line-height: 14.4px;
  }
}